<footer class="l_Footer">
	<div class="l_Wrapper l_Footer_content">
		<div class="l_Footer_logo">
			<img src="{{ asset('build/images/logos/logo-white-small.svg') }}" alt="Logo Café des Chiens" loading="lazy"/>
		</div>
		<div class="l_Footer_menu">
			<h4 class="l_Footer_title">Plan du site</h4>
			<ul class="l_Footer_menu_list">
				<li class="l_Footer_menu_item">
					<a class="l_Footer_menu_item-link" href="{{ path ('home') }}">
						Le Parc
					</a>
				</li>
				<li class="l_Footer_menu_item">
					<a class="l_Footer_menu_item-link" href="{{ path ('education') }}">
						Éducation canine
					</a>
				</li>
				<li class="l_Footer_menu_item">
					<a class="l_Footer_menu_item-link" href="{{ path ('prices') }}">
						Tarifs
					</a>
				</li>
				<li class="l_Footer_menu_item">
					<a class="l_Footer_menu_item-link" href="{{ path ('home') }}">
						Réservation
					</a>
				</li>
				<li class="l_Footer_menu_item">
					<a class="l_Footer_menu_item-link" href="{{ path ('home') }}">
						Connexion
					</a>
				</li>
			</ul>
		</div>
		<div class="l_Footer_opening">
			<h4 class="l_Footer_title">Horaires</h4>
			<ul class="l_Footer_opening-list">
				<li class="l_Footer_opening-item">
					<span class="l_Footer_opening-item-day">Lundi :</span>
					<span class="l_Footer_opening-item-time">Fermé</span>
				</li>
				<li class="l_Footer_opening-item">
					<span class="l_Footer_opening-item-day">Mardi :</span>
					<span class="l_Footer_opening-item-time">8h - 19h</span>
				</li>
				<li class="l_Footer_opening-item">
					<span class="l_Footer_opening-item-day">Mercredi :</span>
					<span class="l_Footer_opening-item-time">8h - 19h</span>
				</li>
				<li class="l_Footer_opening-item">
					<span class="l_Footer_opening-item-day">Jeudi :</span>
					<span class="l_Footer_opening-item-time">8h - 19h</span>
				</li>
				<li class="l_Footer_opening-item">
					<span class="l_Footer_opening-item-day">Vendredi :</span>
					<span class="l_Footer_opening-item-time">8h - 19h</span>
				</li>
				<li class="l_Footer_opening-item">
					<span class="l_Footer_opening-item-day">Samedi :</span>
					<span class="l_Footer_opening-item-time">Fermé</span>
				</li>
				<li class="l_Footer_opening-item">
					<span class="l_Footer_opening-item-day">Dimanche :</span>
					<span class="l_Footer_opening-item-time">Fermé</span>
				</li>
			</ul>
		</div>
		<div class="l_Footer_contact">
			<h4 class="l_Footer_title">Contact</h4>
			<ul class="l_Footer_contact-list">
				<li class="l_Footer_contact-item">
					<i class="bi bi-telephone-fill"></i>
					<span class="l_Footer_contact-text">06 30 20 93 94</span>
				</li>
				<li class="l_Footer_contact-item">
					<i class="bi bi-envelope-fill"></i>
					<span class="l_Footer_contact-text">contact@cafedeschiens.com</span>
				</li>
			</ul>
			<div class="l_Footer_contact-social">
				<a class="l_Footer_contact-social-link" href="https://www.facebook.com/cafedeschiens">
					<i class="bi bi-facebook"></i>
				</a>
				<a class="l_Footer_contact-social-link" href="https://www.instagram.com/cafedeschiens">
					<i class="bi bi-instagram"></i>
				</a>
			</div>
			<div class="l_Footer_contact-info">
				<p class="l_Footer_contact-address">
					<strong>Elise Collin</strong>
					<br>
					Éducatrice canine
					<br>
					Grenoble et son agglomération | Isère
					<br>
					Le Café des Chiens
					<br>
					Rue des Brassières
					<br>
					38420 Le Versoud
				</p>
			</div>
		</div>
	</div>
</footer>
