<header class="l_Header {% if isTransparent is defined and isTransparent %}l_Header-transparent{% endif %}">
	<nav class="o_Navbar">
		<div class="o_Navbar_logo">
			<a href="{{ path ('home') }}">
				{% if isTransparent is defined and isTransparent %}
					<img src="{{ asset('build/images/logos/logo-white-small.svg') }}" alt="Logo Café des Chiens" loading="lazy"/>
				{% else %}
					<img src="{{ asset('build/images/logos/logo-color.svg') }}" alt="Logo Café des Chiens" loading="lazy"/>
				{% endif %}
			</a>
		</div>
		<div class="o_Navbar_menu">
			<a class="o_Navbar_menu-link" href="{{ path ('home') }}">
				Parc
			</a>
			<a class="o_Navbar_menu-link" href="{{ path ('education') }}">
				Éducation
			</a>
			<a class="o_Navbar_menu-link" href="{{ path ('home') }}">
				Tarifs
			</a>
			<a class="o_Navbar_menu-link" href="{{ path ('home') }}">
				Contact
			</a>
		</div>
		<div class="o_Navbar_links">
			<div class="o_Navbar_links-mobileMenu">
				<i class="bi bi-list"></i>
			</div>
			<div class="o_Navbar_links-socials">
				<a class="o_Navbar_links-socials-link" href="https://www.facebook.com/cafedeschiens">
					<i class="bi bi-facebook"></i>
				</a>
				<a class="o_Navbar_links-socials-link" href="https://www.instagram.com/cafedeschiens">
					<i class="bi bi-instagram"></i>
				</a>
			</div>
			<div class="o_Navbar_links-login">
				{% if isTransparent is defined and isTransparent %}
					<button class="a_Button-tertiary">Connexion</button>
				{% else %}
					<button class="a_Button-primary">Connexion</button>
				{% endif %}

				{# {% if app.user %}
													{% if (app.user.roles[0] == 'ROLE_ADMIN') %}
														<a href="{{ path ('admin_index') }}">Administration</a>
													{% endif %}
														<a href="{{ path ('app_logout') }}">me deconnecter </a>
												{% else %}
													<a href="{{ path ('app_login') }}"> connexion </a>
													<a href="{{ path ('app_register') }}">inscription</a>
												{% endif %} #}
			</div>
		</div>
	</nav>
</header>
