{% extends 'base.html.twig' %}

{% block title %}
	{{ is_edit ? 'Modifier la réservation' : 'Nouvelle réservation' }}
	| Le Café des Chiens
{% endblock %}

{% block body %}
	<div class="m_Form_container l_Wrapper">
		<div class="m_Form">
			<h1 class="m_Form_title">
				{{ is_edit ? 'Modifier la réservation' : 'Créer une nouvelle réservation' }}
			</h1>

			{{ form_start(form) }}

			<div class="a_Input a_Input_booking">
				{{ form_label(form.dog) }}
				{{ form_widget(form.dog) }}
				{{ form_errors(form.dog) }}
			</div>

			<div class="a_Input a_Input_booking">
				{{ form_label(form.effectiveDate) }}
				{{ form_widget(form.effectiveDate, {'attr': {'class': 'js-datepicker hidden'}}) }}

				<div class="a_Input_booking-cards date-cards"></div>

				{{ form_errors(form.effectiveDate) }}
			</div>

			<div class="a_Input a_Input_booking">
				{{ form_label(form.arrivalDatetime) }}
				{{ form_widget(form.arrivalDatetime, {'attr': {'class': 'js-timepicker-arrival hidden'}}) }}

				<div class="a_Input_booking-cards arrival-time-cards" data-target="#{{ form.arrivalDatetime.vars.id }}"></div>

				{{ form_errors(form.arrivalDatetime) }}
			</div>

			<div class="a_Input a_Input_booking">
				{{ form_label(form.departureDatetime) }}
				{{ form_widget(form.departureDatetime, {'attr': {'class': 'js-timepicker-departure hidden'}}) }}

				<div class="a_Input_booking-cards departure-time-cards" data-target="#{{ form.departureDatetime.vars.id }}"></div>

				{{ form_errors(form.departureDatetime) }}
			</div>

			{% if form.status is defined %}
				<div class="a_Input a_Input_booking">
					{{ form_label(form.status) }}
					{{ form_widget(form.status) }}
					{{ form_errors(form.status) }}
				</div>
			{% endif %}

			{% if form.isActive is defined %}
				<div class="a_Input a_Input_booking">
					{{ form_label(form.isActive) }}
					{{ form_widget(form.isActive, {'attr': {'class': 'js-isActive hidden'}}) }}

					<div class="a_ToggleSwitch switch js-form-toggle-container">
						<input type="checkbox" class="js-toggle-input" data-target="{{ form.isActive.vars.id }}" {% if booking.isActive %} checked {% endif %}>
						<span class="slider round"></span>
					</div>
					<p class="a_Input_booking-status" data-form-status-text="{{ booking.id }}">{{ booking.isActive ? '✅ Active' : '⛔️ Inactive' }}</p>

					{{ form_errors(form.isActive) }}
				</div>
			{% endif %}


			{% include 'components/atoms/_button.html.twig' with {
            label: is_edit ? 'Mettre à jour' : 'Réserver',
            class: 'a_Button-primary m_Form_button',
            type: 'submit'
         } %}

			{{ form_end(form) }}

		</div>
	</div>
{% endblock %}
