{% extends 'base.html.twig' %}

{% block title %}
	{{ is_edit ? 'Modifier la réservation' : 'Nouvelle réservation' }}
	| Le Café des Chiens
{% endblock %}

{% block body %}
	<div class="m_Form_container l_Wrapper">
		<div class="m_Form">
			<h1 class="m_Form_title">
				{{ is_edit ? 'Modifier la réservation' : 'Créer une nouvelle réservation' }}
			</h1>

			{{ form_start(form) }}

			<div class="a_Input a_Input_booking">
				{{ form_label(form.dog) }}
				{{ form_widget(form.dog) }}
				{{ form_errors(form.dog) }}
			</div>

			{# Effective date cards #}
			<div class="a_Input a_Input_booking">
				{{ form_label(form.effectiveDate) }}
				{# This will render the hidden input field for effectiveDate #}
				{{ form_widget(form.effectiveDate, {'attr': {'class': 'js-datepicker hidden'}}) }}

				<div class="a_Input_booking-cards date-cards"></div>

				{{ form_errors(form.effectiveDate) }}
			</div>

			{# Arrival time #}
			<div class="a_Input a_Input_booking">
				{{ form_label(form.arrivalDatetime) }}
				{# This will render the hidden input field for arrivalDatetime #}
				{{ form_widget(form.arrivalDatetime, {'attr': {'class': 'js-timepicker-arrival hidden'}}) }}

				<div class="a_Input_booking-cards arrival-time-cards" data-target="#{{ form.arrivalDatetime.vars.id }}"></div>

				{{ form_errors(form.arrivalDatetime) }}
			</div>

			{# Departure time #}
			<div class="a_Input a_Input_booking">
				{{ form_label(form.departureDatetime) }}
				{# This will render the hidden input field for departureDatetime #}
				{{ form_widget(form.departureDatetime, {'attr': {'class': 'js-timepicker-departure hidden'}}) }}

				<div class="a_Input_booking-cards departure-time-cards" data-target="#{{ form.departureDatetime.vars.id }}"></div>

				{{ form_errors(form.departureDatetime) }}
			</div>

			{% include 'components/atoms/_button.html.twig' with {
            label: is_edit ? 'Mettre à jour' : 'Réserver',
            class: 'a_Button-primary m_Form_button',
            type: 'submit'
         } %}

			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
