{% extends 'base.html.twig' %}

{% block title %}Liste des réservations{% endblock %}

{% block body %}
	<section class="o_Booking l_Wrapper">
		<h1 class="o_Booking_title">
			{% if is_granted('ROLE_ADMIN') %}
				Liste des réservations
			{% else %}
				Mes réservations
			{% endif %}
		</h1>

		<table class="o_Booking_table">
			<thead>
			<tr>
				{% if is_granted('ROLE_ADMIN') %}
					<th>Utilisateur</th>
				{% endif %}
				<th>Chien</th>
				<th>Statut</th>
				<th>Arrivée</th>
				<th>Départ</th>
				<th>Actions</th>
			</tr>
			</thead>
			<tbody>
			{% for booking in bookings %}
				<tr>
					{% if is_granted('ROLE_ADMIN') %}
						<td>{{ booking.user.email }}</td>
					{% endif %}
					<td>{{ booking.dog.name ?? '—' }}</td>
					<td>{{ booking.status }}</td>
					<td>{{ booking.arrivalDatetime|date('Y-m-d H:i') }}</td>
					<td>{{ booking.departureDatetime|date('Y-m-d H:i') }}</td>
					<td>
						{% include 'components/atoms/_button.html.twig' with {
							label: 'Modifier',
							class: 'a_Button-primary',
							url: path('app_booking_edit', {id: booking.id})
						} %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="{{ is_granted('ROLE_ADMIN') ? 6 : 5 }}">Aucune réservation trouvée.</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		{% include 'components/atoms/_button.html.twig' with {
         label: 'Créer une nouvelle réservation',
         class: 'a_Button-primary',
			url: path('app_booking_new')
      } %}
	</section>
{% endblock %}
