{% extends 'base.html.twig' %}

{% block title %}Liste des réservations
{% endblock %}

{% block body %}
	<section class="o_Booking l_Wrapper">
		<h1 class="o_Booking_title">Liste des réservations</h1>

		<table class="o_Booking_table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Utilisateur</th>
					<th>Chien</th>
					<th>Statut</th>
					<th>Arrivée</th>
					<th>Départ</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for booking in bookings %}
					<tr>
						<td>{{ booking.id }}</td>
						<td>{{ booking.user.email }}</td>
						<td>{{ booking.dog.name }}</td>
						<td>{{ booking.status }}</td>
						<td>{{ booking.arrivalDatetime|date('Y-m-d H:i') }}</td>
						<td>{{ booking.departureDatetime|date('Y-m-d H:i') }}</td>
						<td>
							{% include 'components/atoms/_button.html.twig' with {
								label: 'Modifier',
								class: 'a_Button-primary',
								url: path('app_booking_edit', {id: booking.id})
							} %}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="7">Aucune réservation trouvée.</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{% include 'components/atoms/_button.html.twig' with {
         label: 'Créer une nouvelle réservation',
         class: 'a_Button-primary',
			url: path('app_booking_new')
      } %}
	</section>
{% endblock %}
