{% if url is defined %}
	<a href="{{ url }}" class="a_Button {{ class|default('') }}">
		{{ label }}
	</a>
{% else %}
	<button type="{{ type|default('button') }}" class="a_Button {{ class|default('') }}" {% if attr is defined %} {% for key, value in attr %} {{ key }}="{{ value }}" {% endfor %} {% endif %}>
		{{ label }}
	</button>
{% endif %}
