{% if url is defined %}
	<a href="{{ url }}" class="a_Button {{ class|default('') }}">
		{{ label }}
	</a>
{% else %}
	<button type="{{ type|default('button') }}"" class="a_Button {{ class|default('') }}">
		{{ label }}
	</button>
{% endif %}
