{% if url is defined %}
	<a href="{{ url }}" class="a_Button {{ class|default('') }}">
		{{ label }}
	</a>
{% else %}
	<button type="button" class="{{ class|default('a_Button') }}">
		{{ label }}
	</button>
{% endif %}
