<a href="{{ url }}" class="a_Link {{ class|default('') }}" {{ target is defined and target ? 'target="' ~ target ~ '"' }}>
	{% if icon is defined %}
		<i class="{{ icon }}"></i>
	{% endif %}
	{% if label is defined %}
		<span class="a_Link-label">{{ label }}</span>
	{% endif %}
</a>
